# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea/
.config.yaml
bin/mails/*
bin/files/*
*.log

# binaries & deploy script
bin/api_server
bin/workers
bin/cli
deploy.sh